#contentarea > div:nth-child(1) > h1{
    display: none;
}

.actionbuttons2{
    display: flex
}
#domainstable_filter , #filterbystatus{
    width: 50%;
}
.btn-quickaction{
    display: none;
}
#modalloadingspinner{
    position: absolute;
    z-index: 999;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    color: red;
}

.setcstblcontainer{
    margin-top: 25px;
}
